<%= simple_form_for card, url: review_card_path(card_id: card.id),
                    method: :put, remote: true do |f| %>
  <% if card.image? %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3 col-md-2 card_image">
          <p class="thumbnail">
            <%= image_tag card.image_url %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :original_text, input_html: { class: 'form-control',
                                              disabled: true } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text, as: :text,
                input_html: { class: 'form-control',
                              required: true,
                              autofocus: true,
                              value: nil,
                              name: 'user_translation' } %>
  </div>

  <%= f.button :submit, t('global.actions.check'), class: 'btn btn-default' %>
<% end %>
