<h2><%= t('.heading') %></h2>

<%= form_tag parsings_path, method: 'POST' do %>
    <div class="form-group">
      <%= label_tag(:url, t('.url')) %>
      <%= text_field_tag(:url, nil, class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= label_tag(:block_id, t('.block_id')) %>
      <%= select_tag(:block_id,
                     options_from_collection_for_select(@blocks, 'id', 'title'),
                     class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= label_tag(:original_text_selector, t('.original_text_selector')) %>
      <%= text_field_tag(:original_text_selector, nil,  class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= label_tag(:q, t('.translated_text_selector')) %>
      <%= text_field_tag(:translated_text_selector, nil, class: 'form-control') %>
    </div>

    <%= submit_tag t('global.actions.parse') %>
<% end %>